.badge-primary {
  background-color: #086bac !important;
  color: #fbfcff !important;
}

.badge-secondary {
  background-color: #fbfcff !important;
  color: #086bac !important;
}

.badge-danger {
  background-color: #F25F5C !important;
  color: #fbfcff !important;
}

.badge-success {
  background-color: #26C485 !important;
  color: #fbfcff !important;
}

.badge-warning {
  background-color: #FFD784 !important;
  color: #fbfcff !important;
}

.news .badge {
  font-size: 50% !important;
  position: absolute;
  top: -10px;
  right: -10px;
  padding: 5px 10px;
  border-radius: 5px;
  background: #F25F5C;
  color: #fbfcff;
}

.notice {
  font-size: 85% !important;
  display: inline-block !important;
  position: relative !important;
  padding: 5px;
}

.notice-badge {
  font-size: 85% !important;
  position: absolute;
  top: 0px;
  right: 0px;
  padding: 1px 2px;
  border-radius: 0px;
  background: #F25F5C;
  color: #fbfcff;
}


.badge-quick {
  background-color: #fbfcff !important;
  color: #50514F !important;
}
.badge-fast {
  background-color: #fbfcff !important;
  color: #086bac !important;
}
.badge-normal {
  background-color: #fbfcff !important;
  color: #26C485 !important;
}
.badge-long {
  background-color: #fbfcff !important;
  color: #FFC857 !important;
}
.badge-large {
  background-color: #fbfcff !important;
  color: #F25F5C !important;
}