.card-section {
  height: 10rem !important;
}
.title-course {
  font-size: 1.5rem !important;
  font-weight: bold !important;
  color: #053b5e !important;
}
.h-80-classroom {
  height: 80vh !important;
}
.title-class-course {
  font-size: 1.4rem !important;
  font-weight: bold !important;
}
.stitle-class-course  {
  font-size: 1rem !important;
  font-weight: bold !important;
}