.f60 {
  font-size: 80% !important
}

.f70 {
  font-size: 80% !important
}

.f80 {
  font-size: 80% !important
}

.f85 {
  font-size: 85% !important
}

.f90 {
  font-size: 90% !important
}

.f95 {
  font-size: 95% !important
}

.f100 {
  font-size: 100% !important
}

.service-title {
  font-family: poppins;
    font-size: 20px;
    font-weight: 600;
    color: #053B5E
}
.footer-title {
  font-family: poppins;
    font-size: 20px;
    font-weight: 600;
    color: #26C485
}

.number-title {

color:#fbfcff; 
font-family:'Poppins', sans-serif;
font-weight: 800; 
text-align: center;
font-size: 22px;

}

.number-p {
color:#fbfcff; 
text-align: center;
font-size: 14px;
font-weight: 600;

}
.font-footer {
  font-family: poppins;
  color: #fbfcff;
  font-size: 12px;
}

.hashtag-thin {
  color:#26C485 !important;
  font-weight: lighter !important;
}

.hashtag-bold {
  color:#26C485 !important;
  font-weight: bolder !important;
}

input {
  font-size: 0.8125rem !important;
}

.pointer {
  cursor: pointer !important;
}

.default {
  cursor: default !important;
}

.context-menu {
  cursor: context-menu !important;
}

.cell {
  cursor: cell !important;
}

.help {
  cursor: help !important;
}

.none {
  cursor: none !important;
}

.not-allowed {
  cursor: not-allowed !important;
}

.wait {
  cursor: wait !important;
}

.no-drop {
  cursor: no-drop !important;
}

.move {
  cursor: move !important;
}
