.container-mc {
  margin-left: 1px !important;
  margin-right: 10px !important;
  padding: 0px !important;
  width: 100% !important;
}

.container-site {
  margin-left: 0px !important;
  margin-right: 0px !important;
  padding: 0px !important;
  width: 100% !important;
}

.rm-1 {
  margin-top: 1rem !important;
  margin-bottom: 1rem !important;
}

.rm-top-1 {
  margin-top: 1rem !important;
}

.rm-bottom-1 {
  margin-bottom: 1rem !important;
}

.rm-2 {
  margin-top: 2rem !important;
  margin-bottom: 2rem !important;
}

.rm-top-2 {
  margin-top: 2rem !important;
}

.rm-bottom-2 {
  margin-bottom: 2rem !important;
}

.rm-bottom-3 {
  margin-bottom: 3rem !important;
}

.row {
   display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  margin-right: 0px;
  margin-left: 0px;
}
.section-100 {
  height: 100% !important; 
  background-color:#fbfcff !important;
}

.section-50 {
  height: 50%; 
  background-color:#fbfcff;
}

.section-image {
  font-family:'Poppins', sans-serif !important;
  height: 100% !important;
}

.section-transparent {
  height: 100% !important;
}

.primary-section-transparent {
  height: 100% !important;
  background: url(https://imgsmedir.s3-sa-east-1.amazonaws.com/medbackground.png);
}

.section-white {
  height: 100% !important;
  background-color:#fbfcff !important;
}

.secondary-section-white {
  height: 75% !important;
  background-color:#fbfcff !important;
  font-family:'Poppins', 'sans-serif';
}

.secondary-section-white-mobile {
  height: 100% !important;
  background-color:#fbfcff !important;
}

.landing-background {
  font-family:'Poppins', sans-serif !important;
  height: 100% !important; 
  // background: url(https://imgsmedir.s3-sa-east-1.amazonaws.com/medbackground.png);
}

.w-80 {
  width: 80% !important;
}

.w-70 {
  width: 70% !important;
}

.w-60 {
  width: 60% !important;
}

.w-20 {
  width: 20% !important;
}

.w-16 {
  width: 16.6667% !important;
}

.w-15 {
  width: 15% !important;
}

.w-10 {
  width: 10% !important;
}

.h-80 {
  height: 80% !important;
}

.h-70 {
  height: 70% !important;
}

.h-60 {
  height: 60% !important;
}

.h-40 {
  height: 40% !important;
}

.h-30 {
  height: 30% !important;
}

.h-20 {
  height: 20% !important;
}

.h-16 {
  height: 16.6667% !important;
}

.h-15 {
  height: 15% !important;
}

.h-10 {
  height: 10% !important;
}