.nav-link {
  text-align: center !important;
}

.nav-link-100 {
  height: 100% !important
}

.nav-link-home {
  text-align: right !important;
}

.nav-link:active {
  color: #053B5E !important;
}


.nav-tabs .nav-link.active {
  color: #086bac !important;
}

.nav-tabs .nav-link::before {
  background-color: #086bac !important;
}

.nav-tabs-material .nav-tabs-indicator {
  background-color: #086bac !important;
}