.cell-p {
  padding-right: 0px !important;
  padding-left: 0px !important;
}

.td-w-10 {
  width: 10% !important;
}

.td-w-20 {
  width: 20% !important;
}

.td-boarder-left {
  border-left: 0.5px solid #EFEFEF !important
}

.td-boarder-right {
  border-right: 0.5px solid #EFEFEF !important
}

.card-header-table-list {
  padding-left:16px !important;
  padding-right:0px !important;
  padding-top:0px !important;
  padding-bottom:0px !important;
  display:absolute !important;
  top:0px !important;
  left:0px !important;
}

.card-title-table-list {
  padding:1rem !important;
  font-size:110% !important;
  margin-bottom:0px !important;
}

.table-font-sm {
  font-size: 70% !important;
}

.cell-danger {
  background-color: #FCE1E1 !important;
  color: #50514F !important;
}

.cell-success {
  background-color: #D7F4E8 !important;
  color: #50514F !important;
}

.table-row-select {
  background-color: #D2E4EF !important;
}

.table tbody {
  color: #50514F !important;
}

.table-3 {
  width: 3%;
}

.table-5 {
  width: 5%;
}

.table-10 {
  width: 10%;
}

.table-12 {
  width: 12%;
}

.table-15 {
  width: 15%;
}

.table-20 {
  width: 20%;
}

.table-25 {
  width: 25%;
}

.table-30 {
  width: 30%;
}

.table-35 {
  width: 35%;
}

.table-40 {
  width: 40%;
}

.table-45 {
  width: 45%;
}

.table-50 {
  width: 50%;
}

.table-55 {
  width: 55%;
}

.table-60 {
  width: 60%;
}

.table-65 {
  width: 65%;
}

.table-70 {
  width: 70%;
}

.table-75 {
  width: 75%;
}

.table-80 {
  width: 80%;
}

.table-85 {
  width: 85%;
}

.table-90 {
  width: 90%;
}

.table-chat-sm .table-sm tbody td {
  height: 0.75rem !important;
}

.table-xs tbody td, .table-xs tbody th {
  height: 0.75rem !important;
}