<div class="row my-3 d-flex align-items-center">
  <div class="col-11">
    <div class="media d-flex align-items-end">
      <span class="material-icons md-lg md-primary">cloud_upload</span>
      <div class="media-body ml-3">
        <h5 class="mt-2" style="margin-bottom:0px;"><strong>Minha impressão da MedCapital</strong></h5>
        <span class="text-black-secondary">Printing da MedCapital</span>
      </div>
    </div>
  </div>
  <div class="col-sm-1" data-target="printings--entities--submenu.place" data-controller="printings--entities--submenu"></div>
</div>

<div class="row" data-controller="printings--entities--index">
  <div class="col-md-5 h-100 mt-3" data-target="printings--entities--index.formCol"></div>
  <div class="col-md-7" data-target="printings--entities--index.printCol"></div>
</div>