<div class="row my-3 d-flex align-items-center">
  <div class="col-11">
    <div class="media d-flex align-items-end">
      <span class="material-icons md-lg md-primary">school</span>
      <div class="media-body ml-3">
        <h5 class="mt-2" style="margin-bottom:0px;"><strong>MedDropzone</strong></h5>
        <span class="text-black-secondary">Dropzone da MedCapital</span>
      </div>
    </div>
  </div>
  <div class="col-sm-1" data-target="dropzones--entities--submenu.place" data-controller="dropzones--entities--submenu"></div>
</div>

<div class="container">
  <div class="row" data-controller="dropzones--entities--index">
    <div class="col-md-6" data-target="dropzones--entities--index.indexCol"></div>
    <div class="col-md-6" data-target="dropzones--entities--index.showCol"></div>
  </div>
</div>