<div class="row my-3 d-flex align-items-center">
  <div class="col-11">
    <div class="media d-flex align-items-end">
      <span class="material-icons md-lg md-primary">cloud_upload</span>
      <div class="media-body ml-3">
        <h5 class="mt-2" style="margin-bottom:0px;"><strong>Meu Imposto de Renda 2021</strong></h5>
        <span class="text-black-secondary">Dropzone da MedCapital</span>
      </div>
    </div>
  </div>
  <div class="col-sm-1" data-target="dropzones--entities--submenu.place" data-controller="dropzones--entities--submenu"></div>
</div>

<div class="row" data-controller="dropzones--entities--upload">
  <div class="col-md-4" data-target="dropzones--entities--upload.uploadCol"></div>
  <div class="col-md-8" data-target="dropzones--entities--upload.showCol"></div>
</div>