<ol class="breadcrumb py-0" data-target="app--navigation--desktop--breadcrumb.nav"><li class="breadcrumb-item f-075"><a href="/dashboard">Dashboard</a></li><li class="breadcrumb-item f-075"><a href="/a/operacoes">Tracker</a></li> <li class="breadcrumb-item f-075"><a href="/a/operacoes">Clinics</a></li><li class="breadcrumb-item f-075 active" aria-current="page" id="breadcrumbName" data-target="app--navigation--desktop--breadcrumb.breadcrumbName">Atividades Finalizadas</li></ol>
<div class="py-5 ">
  <div class="row my-3 d-flex align-items-center">
    <div class="col-sm-3">
      <div class="media">
        <i class="material-icons md-lg md-primary mr-2">description</i>
        <div class="media-body">
          <h4 class="mt-2 title-h5text">Clinics</h4>
        </div>
      </div>
    </div>  

    <div class="col-5 ml-5">
      <div class="media">
        <div class="media-body">
          <input class="form-control s-title-0p7rem w-100 ml-auto input-search-table" id="" placeholder="Buscar ..." type="text">
        </div>
      </div>
    </div>    

    <div class="col-sm-0 ml-auto"></div>
    <div class="col-sm-1" data-target="operations--products--bookings--entities--index.submenu">
      <div class="dropdown" data-toggle="tooltip" data-placement="top" data-original-title="Submenu">
        <button aria-expanded="false" aria-haspopup="true" class="btn btn-outline my-0" data-toggle="dropdown" id="marketingMenuDrop" type="button"><i class="material-icons">apps</i></button>
        <div aria-labelledby="marketingMenuDrop" class="dropdown-menu dropdown-menu-right menu" style="font-size:80%">
          <span data-action="click->operations--products--bookings--entities--submenu#goToDashboard" class="dropdown-item py-1 pointer">Dashboard</span>
          <span data-action="click->operations--products--bookings--entities--submenu#goToReceipts" class="dropdown-item py-1 pointer">Recibos</span>
          <span data-action="click->operations--products--bookings--entities--submenu#goToPatients" class="dropdown-item py-1 pointer">Pacientes</span>
          <span data-action="click->operations--products--bookings--entities--submenu#goToPayments" class="dropdown-item py-1 pointer">Pagamentos</span>
          <span data-action="click->operations--products--bookings--entities--submenu#goToNotes" class="dropdown-item py-1 pointer">Anotações</span>
          <span data-action="click->operations--products--bookings--entities--submenu#goToDocuments" class="dropdown-item py-1 pointer">Documentos</span>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="col-10">
<div class="d-flex my-4 ml-4">

  <div class="col-3 pl-2 py-3 ">
    <div class=" d-flex align-items-center text-align-center">
    <h6 class="card-title display-3 card-title-table-list text-align-center">Icebox</h6>
    </div>

    <div class="card border-top-primary ">
      <div class="card-header p-1 py-0 text-left s-title-0p7rem">
        <p class="mb-0 ml-3">ex de tarefa</p>  
      </div>
      <div class="card-body text-center s-title-0p7rem">
      <p>Aqui Aqui Aqui Aqui Aqui Aqui Aqui Aqui Aquivv Aqui Aqui Aqui Aqui Aqui Aqui Aqui Aqui </p>
      </div>
    </div>
    
    <div class="card border-top-primary my-3">
      <div class="card-header p-1 py-0 text-left s-title-0p7rem">
        <p class="mb-0 ml-3">ex de tarefa</p>  
      </div>
      <div class="card-body text-center s-title-0p7rem">
      <p>Aqui Aqui Aqui Aqui Aqui Aqui Aqui Aqui Aquivv Aqui Aqui Aqui Aqui Aqui Aqui Aqui Aqui </p>
      </div>
    </div>

    <div class="card border-top-primary my-3">
      <div class="card-header p-1 py-0 text-left s-title-0p7rem">
        <p class="mb-0 ml-3">ex de tarefa</p>  
      </div>
      <div class="card-body text-center s-title-0p7rem">
       <p>Aqui Aqui Aqui Aqui Aqui Aqui Aqui Aqui Aquivv Aqui Aqui Aqui Aqui Aqui Aqui Aqui Aqui </p>
      </div>
    </div>
    
  </div>


  <div class="col-3 pl-2 py-3 ">
    <div class=" d-flex align-items-center text-align-center ">
    <h6 class="card-title display-3 card-title-table-list text-align-center">Hotfix</h6>
    </div>

    <div class="card border-top-primary ">
      <div class="card-header p-1 py-0 text-left s-title-0p7rem">
        <p class="mb-0 ml-3">ex de tarefa</p>  
      </div>
      <div class="card-body text-center s-title-0p7rem">
      <p>Aqui Aqui Aqui Aqui Aqui Aqui Aqui Aqui Aquivv Aqui Aqui Aqui Aqui Aqui Aqui Aqui Aqui </p>
      </div>
    </div>
    
    <div class="card border-top-primary my-3">
      <div class="card-header p-1 py-0 text-left s-title-0p7rem">
        <p class="mb-0 ml-3">ex de tarefa</p>  
      </div>
      <div class="card-body text-center s-title-0p7rem">
      <p>Aqui Aqui Aqui Aqui Aqui Aqui Aqui Aqui Aquivv Aqui Aqui Aqui Aqui Aqui Aqui Aqui Aqui </p>
      </div>
    </div>

    <div class="card border-top-primary my-3">
      <div class="card-header p-1 py-0 text-left s-title-0p7rem">
        <p class="mb-0 ml-3">ex de tarefa</p>  
      </div>
      <div class="card-body text-center s-title-0p7rem">
       <p>Aqui Aqui Aqui Aqui Aqui Aqui Aqui Aqui Aquivv Aqui Aqui Aqui Aqui Aqui Aqui Aqui Aqui </p>
      </div>
    </div>

  </div>

  <div class="col-3 pl-2 py-3 ">
    <div class=" d-flex align-items-center ">
    <h6 class="card-title display-3 card-title-table-list text-align-center">Refactor</h6> 
    </div>

    <div class="card border-top-primary ">
      <div class="card-header p-1 py-0 text-left s-title-0p7rem">
        <p class="mb-0 ml-3">ex de tarefa</p>  
      </div>
      <div class="card-body text-center s-title-0p7rem">
       <p>Aqui Aqui Aqui Aqui Aqui Aqui Aqui Aqui Aquivv Aqui Aqui Aqui Aqui Aqui Aqui Aqui Aqui </p>
      </div>
    </div>
    
    <div class="card border-top-primary my-3">
      <div class="card-header p-1 py-0 text-left s-title-0p7rem">
        <p class="mb-0 ml-3">ex de tarefa</p>  
      </div>
      <div class="card-body text-center s-title-0p7rem">
       <p>Aqui Aqui Aqui Aqui Aqui Aqui Aqui Aqui Aquivv Aqui Aqui Aqui Aqui Aqui Aqui Aqui Aqui </p>
      </div>
    </div>

    <div class="card border-top-primary my-3">
      <div class="card-header p-1 py-0 text-left s-title-0p7rem">
        <p class="mb-0 ml-3">ex de tarefa</p>  
      </div>
      <div class="card-body text-center s-title-0p7rem">
       <p>Aqui Aqui Aqui Aqui Aqui Aqui Aqui Aqui Aquivv Aqui Aqui Aqui Aqui Aqui Aqui Aqui Aqui </p>
      </div>
    </div>

  </div>

  <div class="col-3 pl-2 py-3 ">
  
    <div class=" d-flex align-items-center ">
    <h6 class="card-title display-3 card-title-table-list text-align-center">Release</h6>
    </div>

    <div class="card border-top-primary ">
      <div class="card-header p-1 py-0 text-left s-title-0p7rem">
        <p class="mb-0 ml-3">ex de tarefa</p>  
      </div>
      <div class="card-body text-center s-title-0p7rem">
       <p>Aqui Aqui Aqui Aqui Aqui Aqui Aqui Aqui Aquivv Aqui Aqui Aqui Aqui Aqui Aqui Aqui Aqui </p>
      </div>
    </div>
    
    <div class="card border-top-primary my-3">
      <div class="card-header p-1 py-0 text-left s-title-0p7rem">
        <p class="mb-0 ml-3">ex de tarefa</p>  
      </div>
      <div class="card-body text-center s-title-0p7rem">
      <p>Aqui Aqui Aqui Aqui Aqui Aqui Aqui Aqui Aquivv Aqui Aqui Aqui Aqui Aqui Aqui Aqui Aqui </p>
      </div>
    </div>

    <div class="card border-top-primary my-3">
      <div class="card-header p-1 py-0 text-left s-title-0p7rem">
        <p class="mb-0 ml-3">ex de tarefa</p>  
      </div>
      <div class="card-body text-center s-title-0p7rem">
       <p>Aqui Aqui Aqui Aqui Aqui Aqui Aqui Aqui Aquivv Aqui Aqui Aqui Aqui Aqui Aqui Aqui Aqui </p>
      </div>
    </div>

  </div>

  <div class="col-3 pl-2 py-3 ">
    <div class=" d-flex align-items-center ">
    <h6 class="card-title display-3 card-title-table-list text-align-center">Test</h6>
    </div>

    <div class="card border-top-primary ">
      <div class="card-header p-1 py-0 text-left s-title-0p7rem">
        <p class="mb-0 ml-3">ex de tarefa</p>  
      </div>
      <div class="card-body text-center s-title-0p7rem">
       <p>Aqui Aqui Aqui Aqui Aqui Aqui Aqui Aqui Aquivv Aqui Aqui Aqui Aqui Aqui Aqui Aqui Aqui </p>
      </div>
    </div>
    
    <div class="card border-top-primary my-3">
      <div class="card-header p-1 py-0 text-left s-title-0p7rem">
        <p class="mb-0 ml-3">ex de tarefa</p>  
      </div>
      <div class="card-body text-center s-title-0p7rem">
       <p>Aqui Aqui Aqui Aqui Aqui Aqui Aqui Aqui Aquivv Aqui Aqui Aqui Aqui Aqui Aqui Aqui Aqui </p>
      </div>
    </div>

    <div class="card border-top-primary my-3">
      <div class="card-header p-1 py-0 text-left s-title-0p7rem">
        <p class="mb-0 ml-3">ex de tarefa</p>  
      </div>
      <div class="card-body text-center s-title-0p7rem">
       <p>Aqui Aqui Aqui Aqui Aqui Aqui Aqui Aqui Aquivv Aqui Aqui Aqui Aqui Aqui Aqui Aqui Aqui </p>
      </div>
    </div>

  </div>

  </div>
  </div >