


<ol class="breadcrumb py-0" data-target="app--navigation--desktop--breadcrumb.nav"><li class="breadcrumb-item f-075"><a href="/dashboard">Dashboard</a></li><li class="breadcrumb-item f-075"><a href="/a/operacoes">Tracker</a></li><li class="breadcrumb-item f-075 active" aria-current="page" id="breadcrumbName" data-target="app--navigation--desktop--breadcrumb.breadcrumbName">Clinics</li></ol>

<div class="py-5 ">
  <div class="row my-3 d-flex align-items-center">
    <div class="col-sm-3">
      <div class="media">
        <i class="material-icons md-lg md-primary mr-2">description</i>
        <div class="media-body">
          <h4 class="mt-2 title-h5text">Clinics</h4>
        </div>
      </div>
    </div>  

    <div class="col-5 ml-4">
      <div class="media">
        <div class="media-body">
          <input class="form-control s-title-0p7rem w-50 ml-auto input-search-table" id="" placeholder="Buscar ..." type="text">
        </div>
      </div>
    </div>

   
      <div href="#" class="btn Underline text-white btn-lg active" role="button" aria-pressed="true" >Atividades <br> Finalizadas</div>
    

    <div class="col-sm-0 ml-auto"></div>
    <div class="col-sm-1" data-target="operations--products--bookings--entities--index.submenu">
      <div class="dropdown" data-toggle="tooltip" data-placement="top" data-original-title="Submenu">
        <button aria-expanded="false" aria-haspopup="true" class="btn btn-outline my-0" data-toggle="dropdown" id="marketingMenuDrop" type="button"><i class="material-icons">apps</i></button>
        <div aria-labelledby="marketingMenuDrop" class="dropdown-menu dropdown-menu-right menu" style="font-size:80%">
          <span data-action="click->operations--products--bookings--entities--submenu#goToDashboard" class="dropdown-item py-1 pointer">Dashboard</span>
          <span data-action="click->operations--products--bookings--entities--submenu#goToReceipts" class="dropdown-item py-1 pointer">Recibos</span>
          <span data-action="click->operations--products--bookings--entities--submenu#goToPatients" class="dropdown-item py-1 pointer">Pacientes</span>
          <span data-action="click->operations--products--bookings--entities--submenu#goToPayments" class="dropdown-item py-1 pointer">Pagamentos</span>
          <span data-action="click->operations--products--bookings--entities--submenu#goToNotes" class="dropdown-item py-1 pointer">Anotações</span>
          <span data-action="click->operations--products--bookings--entities--submenu#goToDocuments" class="dropdown-item py-1 pointer">Documentos</span>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="col-12 my-4 ">

  <div class="d-flex ">  
  <div class="col-3 pl-2 py-3 ml-5 mr-2">
    <div class=" d-flex align-items-center ">
    <h6 class="card-title display-4 card-title-table-list">Icebox</h6>
    <div class="card-actions ml-auto py-0">
      <div class="dropdown">
        <button aria-expanded="false" aria-haspopup="true" class="btn btn-outline my-0" data-toggle="dropdown" id="cardFilterTaxReturnBtn" type="button"><i class="material-icons">add</i></button>
        <div aria-labelledby="cardFilterTaxReturnBtn" class="dropdown-menu dropdown-menu-right menu" id="cardFilterTaxReturnDiv"></div>
      </div>
    </div>
    </div>

    <div class="card border-top-primary ">
      <div class="card-header  py-0 mb-0 ">
        <p class="text-left my-2">User profile for permissions</p> 
      </div>
      <div class="card-body text-center ">
        <div class="d-flex mb-2 py-0 mt-0 justify-content-between">
          <p class="text-broken text-left mr-4 ">Release</p> 
          <i class="material-icons ml-5 md-sm" style="color: green;">check</i>
        </div>
      </div>
    </div>
    
    <div class="card border-top-primary my-4">
      <div class="card-header  py-0 mb-0 ">
        <p class="text-left my-2">User profile for permissions</p> 
      </div>
      <div class="card-body text-center ">
        <div class="d-flex mb-2 py-0 mt-0 justify-content-between">
          <p class="text-broken text-left mr-4 ">Release</p> 
          <i class="material-icons ml-5 md-sm" style="color: green;">check</i>
        </div>
      </div>
    </div>

    <div class="card border-top-primary my-4">
      <div class="card-header  py-0 mb-0 ">
        <p class="text-left my-2">User profile for permissions</p> 
      </div>
      <div class="card-body text-center ">
        <div class="d-flex mb-2 py-0 mt-0 justify-content-between">
          <p class="text-broken text-left mr-4 ">Release</p> 
          <i class="material-icons ml-5 md-sm" style="color: green;">check</i>
        </div>
      </div>
    </div>

  </div>

  <div class="col-3 pl-2 py-3 ml-5 mr-2">
    <div class=" d-flex align-items-center ">
    <h6 class="card-title display-4 card-title-table-list">Backlog</h6>
    <div class="card-actions ml-auto py-0">
      <div class="dropdown">
        <button aria-expanded="false" aria-haspopup="true" class="btn btn-outline my-0" data-toggle="dropdown" id="cardFilterTaxReturnBtn" type="button"><i class="material-icons">add</i></button>
        <div aria-labelledby="cardFilterTaxReturnBtn" class="dropdown-menu dropdown-menu-right menu" id="cardFilterTaxReturnDiv"></div>
      </div>
    </div>
    </div>
    
    <div class="card border-top-primary">
      <div class="card-header  py-0 mb-0 ">
      <p class="text-left my-2">User profile for permissions</p> 
      </div>
      <div class="card-body text-center ">
        <div class="d-flex mb-2 py-0 mt-0 justify-content-between">
              <p class="text-broken text-left mr-4 ">Release</p> 
              <i class="material-icons ml-5 md-sm" style="color: green;">check</i>
            </div>
      </div>
    </div>

    <div class="card border-top-primary my-4">
      <div class="card-header  py-0 mb-0 ">
        <p class="text-left my-2">User profile for permissions</p> 
      </div>
      <div class="card-body text-center ">
        <div class="d-flex mb-2 py-0 mt-0 justify-content-between">
          <p class="text-broken text-left mr-4 ">Release</p> 
          <i class="material-icons ml-5 md-sm" style="color: green;">check</i>
        </div>
      </div>
    </div>

    <div class="card border-top-primary my-4">
      <div class="card-header  py-0 mb-0 ">
        <p class="text-left my-2">User profile for permissions</p> 
      </div>
      <div class="card-body text-center ">
        <div class="d-flex mb-2 py-0 mt-0 justify-content-between">
          <p class="text-broken text-left mr-4 ">Release</p> 
          <i class="material-icons ml-5 md-sm" style="color: green;">check</i>
        </div>
      </div>
    </div>

  </div>


  <div class="col-3 pl-2 py-3 ml-5">

    <div class=" d-flex align-items-center ">
      <h6 class="card-title display-4 card-title-table-list">Current</h6>
      <div class="card-actions ml-auto py-0">
        <div class="dropdown">
          <button aria-expanded="false" aria-haspopup="true" class="btn btn-outline my-0" data-toggle="dropdown" id="cardFilterTaxReturnBtn" type="button"><i class="material-icons">add</i></button>
          <div aria-labelledby="cardFilterTaxReturnBtn" class="dropdown-menu dropdown-menu-right menu" id="cardFilterTaxReturnDiv"></div>
        </div>
      </div>
    </div>

    <div class="card border-top-primary">
      <div class="card-header  py-0 mb-0 ">
        <p class="text-left my-2">User profile for permissions</p> 
      </div>
      <div class="card-body text-center ">
        <div class="d-flex mb-2 py-0 mt-0 justify-content-between">
          <p class="text-broken text-left mr-4 ">Release</p> 
          <i class="material-icons ml-5 md-sm" style="color: green;">check</i>
        </div>
      </div>
    </div>

    <div class="card border-top-primary my-4">
      <div class="card-header  py-0 mb-0 ">
        <p class="text-left my-2">User profile for permissions</p> 
      </div>
      <div class="card-body text-center ">
        <div class="d-flex mb-2 py-0 mt-0 justify-content-between">
          <p class="text-broken text-left mr-4 ">Release</p> 
          <i class="material-icons ml-5 md-sm" style="color: green;">check</i>
        </div>
      </div>
    </div>

    <div class="card border-top-primary my-4">
      <div class="card-header  py-0 mb-0 ">
        <p class="text-left my-2">User profile for permissions</p> 
      </div>
      <div class="card-body text-center ">
        <div class="d-flex mb-2 py-0 mt-0 justify-content-between">
          <p class="text-broken text-left mr-4 ">Release</p> 
          <i class="material-icons ml-5 md-sm" style="color: green;">check</i>
        </div>
      </div>
    </div>

  </div>

  </div>
  







