<ol class="breadcrumb py-0" ><li class="breadcrumb-item f-075"><a href="/dashboard">Dashboard</a></li><li class="breadcrumb-item f-075 active" aria-current="page" id="breadcrumbName" >Tracker</li></ol>

<div>
  <div class="row my-3 d-flex align-items-center">
    <div class="col-sm-8">
      <div class="media">
        <i class="material-icons md-lg md-primary mr-2">description</i>
        <div class="media-body">
          <h5 class="mt-2 title-h5text">Projetos</h5>
        </div>
      </div>
    </div>
    <div class="col-sm-2 ml-auto"></div>
    <div class="col-sm-1" data-target="operations--products--bookings--entities--index.submenu">
      <div class="dropdown" data-toggle="tooltip" data-placement="top" data-original-title="Submenu">
        <button aria-expanded="false" aria-haspopup="true" class="btn btn-outline my-0" data-toggle="dropdown" id="marketingMenuDrop" type="button"><i class="material-icons">apps</i></button>
        <div aria-labelledby="marketingMenuDrop" class="dropdown-menu dropdown-menu-right menu" style="font-size:80%">
          <span data-action="click->operations--products--bookings--entities--submenu#goToDashboard" class="dropdown-item py-1 pointer">Dashboard</span>
          <span data-action="click->operations--products--bookings--entities--submenu#goToReceipts" class="dropdown-item py-1 pointer">Recibos</span>
          <span data-action="click->operations--products--bookings--entities--submenu#goToPatients" class="dropdown-item py-1 pointer">Pacientes</span>
          <span data-action="click->operations--products--bookings--entities--submenu#goToPayments" class="dropdown-item py-1 pointer">Pagamentos</span>
          <span data-action="click->operations--products--bookings--entities--submenu#goToNotes" class="dropdown-item py-1 pointer">Anotações</span>
          <span data-action="click->operations--products--bookings--entities--submenu#goToDocuments" class="dropdown-item py-1 pointer">Documentos</span>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="card mc-card-body" >
<div class="card-header d-flex align-items-center card-header-table-list f-065">
  
  <h6 class="card-title display-4 card-title-table-list">Todos os Projetos</h6>
  <input class="form-control s-title-0p7rem w-50 ml-auto input-search-table" id="" placeholder="Buscar ..." type="text">
  <div class="card-actions ml-auto py-0">
    <div class="dropdown">
      <button aria-expanded="false" aria-haspopup="true" class="btn btn-outline my-0" data-toggle="dropdown" id="cardFilterTaxReturnBtn" type="button"><i class="material-icons">add</i></button>
      <div aria-labelledby="cardFilterTaxReturnBtn" class="dropdown-menu dropdown-menu-right menu" id="cardFilterTaxReturnDiv"></div>
    </div>
  </div>
</div>
<div class="card-body py-0" style="overflow:auto;">
  <div class="row">
    <div class="col p-0">
      <div class="table-flex">
        <table class="table table-sm table-hover table-search" style="font-size:80%;">
          <tbody data-target="operations--products--bookings--entities--index.bodyTable ">
            <div class="d-flex align-content-start flex-wrap">


              <div class="col-2 px-0 card-align" >
                  <div class="card border-top-primary">
                  <div>
                    <div class="mt-2 ml-1 " >
                      <span class=" material-icons d-flex flex-row-reverse align-botton md-sm" >delete</span>
                    </div>
                    <div class="px-1 d-inline-responsive">
                      <h4 class="size-text mt-2 mb-3">Clinics</h4>
                    </div>
                      <span class=" material-icons d-flex flex-row-reverse align-botton ml-2 md-sm" >star</span>
                  </div>
                </div>
              </div>

               <div class="col-2 px-0 card-align" >
                  <div class="card border-top-primary">
                  <div>
                    <div class="mt-2 ml-1 " >
                      <span class=" material-icons d-flex flex-row-reverse align-botton md-sm" >delete</span>
                    </div>
                    <div class="px-1 d-inline-responsive">
                      <h4 class="size-text mt-2 mb-3">Clinics</h4>
                    </div>
                      <span class=" material-icons d-flex flex-row-reverse align-botton ml-2 md-sm" >star</span>
                  </div>
                </div>
              </div>

               <div class="col-2 px-0 card-align" >
                  <div class="card border-top-primary">
                  <div>
                    <div class="mt-2 ml-1 " >
                      <span class=" material-icons d-flex flex-row-reverse align-botton md-sm" >delete</span>
                    </div>
                    <div class="px-1 d-inline-responsive">
                      <h4 class="size-text mt-2 mb-3">Clinics</h4>
                    </div>
                      <span class=" material-icons d-flex flex-row-reverse align-botton ml-2 md-sm" >star</span>
                  </div>
                </div>
              </div>

               <div class="col-2 px-0 card-align" >
                  <div class="card border-top-primary">
                  <div>
                    <div class="mt-2 ml-1 " >
                      <span class=" material-icons d-flex flex-row-reverse align-botton md-sm" >delete</span>
                    </div>
                    <div class="px-1 d-inline-responsive">
                      <h4 class="size-text mt-2 mb-3">Clinics</h4>
                    </div>
                      <span class=" material-icons d-flex flex-row-reverse align-botton ml-2 md-sm" >star</span>
                  </div>
                </div>
              </div>

               <div class="col-2 px-0 card-align" >
                  <div class="card border-top-primary">
                  <div>
                    <div class="mt-2 ml-1 " >
                      <span class=" material-icons d-flex flex-row-reverse align-botton md-sm" >delete</span>
                    </div>
                    <div class="px-1 d-inline-responsive">
                      <h4 class="size-text mt-2 mb-3">Clinics</h4>
                    </div>
                      <span class=" material-icons d-flex flex-row-reverse align-botton ml-2 md-sm" >star</span>
                  </div>
                </div>
              </div>

               <div class="col-2 px-0 card-align" >
                  <div class="card border-top-primary">
                  <div>
                    <div class="mt-2 ml-1 " >
                      <span class=" material-icons d-flex flex-row-reverse align-botton md-sm" >delete</span>
                    </div>
                    <div class="px-1 d-inline-responsive">
                      <h4 class="size-text mt-2 mb-3">Clinics</h4>
                    </div>
                      <span class=" material-icons d-flex flex-row-reverse align-botton ml-2 md-sm" >star</span>
                  </div>
                </div>
              </div>

               <div class="col-2 px-0 card-align" >
                  <div class="card border-top-primary">
                  <div>
                    <div class="mt-2 ml-1 " >
                      <span class=" material-icons d-flex flex-row-reverse align-botton md-sm" >delete</span>
                    </div>
                    <div class="px-1 d-inline-responsive">
                      <h4 class="size-text mt-2 mb-3">Clinics</h4>
                    </div>
                      <span class=" material-icons d-flex flex-row-reverse align-botton ml-2 md-sm" >star</span>
                  </div>
                </div>
              </div>

               <div class="col-2 px-0 card-align" >
                  <div class="card border-top-primary">
                  <div>
                    <div class="mt-2 ml-1 " >
                      <span class=" material-icons d-flex flex-row-reverse align-botton md-sm" >delete</span>
                    </div>
                    <div class="px-1 d-inline-responsive">
                      <h4 class="size-text mt-2 mb-3">Clinics</h4>
                    </div>
                      <span class=" material-icons d-flex flex-row-reverse align-botton ml-2 md-sm" >star</span>
                  </div>
                </div>
              </div>

               <div class="col-2 px-0 card-align" >
                  <div class="card border-top-primary">
                  <div>
                    <div class="mt-2 ml-1 " >
                      <span class=" material-icons d-flex flex-row-reverse align-botton md-sm" >delete</span>
                    </div>
                    <div class="px-1 d-inline-responsive">
                      <h4 class="size-text mt-2 mb-3">Clinics</h4>
                    </div>
                      <span class=" material-icons d-flex flex-row-reverse align-botton ml-2 md-sm" >star</span>
                  </div>
                </div>
              </div>

               <div class="col-2 px-0 card-align" >
                  <div class="card border-top-primary">
                  <div>
                    <div class="mt-2 ml-1 " >
                      <span class=" material-icons d-flex flex-row-reverse align-botton md-sm" >delete</span>
                    </div>
                    <div class="px-1 d-inline-responsive">
                      <h4 class="size-text mt-2 mb-3">Clinics</h4>
                    </div>
                      <span class=" material-icons d-flex flex-row-reverse align-botton ml-2 md-sm" >star</span>
                  </div>
                </div>
              </div>

            
                
          </tbody>
        </table>
    
  </div>
</div>
</div>

