.picker-date-display{
  background-color: #086bac !important;
}

.picker-button-clear{
  background-color: #fbfcff !important;
  color: #086bac !important;
}

.picker-button-close{
  background-color: #086bac !important;
  color: #fbfcff !important;
}

.picker-day.picker-day-selected{
  background-color: #086bac !important;
  color: #fbfcff !important;
}

.picker-day-today{
  color: #086bac !important;
}

.picker-input.picker-input-active {
  border-bottom-color: #50514F !important
}