.dropdown-selector {
  position: relative;
  width: 100% !important;
}

.dropdown-menu-selector {
  position: absolute !important;
  overflow: auto !important;
  background-color: rgba(80, 81, 79, 0.9) !important;
}

.box-shadow-selector {
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.14), 0 1px 1px 1px rgba(0, 0, 0, 0.12), 0 1px 1px 0 rgba(0, 0, 0, 0.2) !important;
}

.dropdown-menu-selector::before {
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.14), 0 1px 1px 1px rgba(0, 0, 0, 0.12), 0 1px 1px 0 rgba(0, 0, 0, 0.2) !important;
  background-color: rgba(80, 81, 79, 0.9) !important;
}

.dropdown-menu::before {
  background-color: none !important;
}

.dropdown-menu {
  font-size: 0.85rem !important;
}

.dropdown-toggle::after {
  font-size: 1rem !important;
  vertical-align: middle !important;
  
}

ul.ul-select {
  list-style-type: none !important;
  padding-left: 0px !important;
  margin-bottom: 0px !important;
  // background-color: rgba(80, 81, 79, 0.9) !important;
}

li.dark {
  color:#fbfcff !important;
}

li.li-selector.li-selected {
  background-color: rgba(251, 252, 255, 0.25) !important;
}

li.li-selector {
  padding-left: 1rem !important;
  padding-right: 0 !important;
  cursor: pointer !important;
  white-space: nowrap !important;
}

li.li-selector-placeholder {
  padding-left: 1rem !important;
  padding-right: 0 !important;
  cursor: not-allowed !important;
  white-space: nowrap !important;
}



li.li-selector:hover {
  background-color: rgba(251, 252, 255, 0.25) !important;
}

.form-control-selector {
  width: 100% !important;
  padding-left: 1rem !important;
  color: #fbfcff !important;
  font-size: 0.85rem !important;
}

.selected-item {
  overflow: auto !important;
  white-space: nowrap !important;
  text-align: left !important;
}