.frame-site-one {
  background: #fbfcff !important;
  font-family:'Poppins',sans-serif;
}

.frame-blue-100 {
  background: linear-gradient(#086BAC,#053B5E) !important;
  font-family:'Poppins',sans-serif;
  height: 100%;
}

.frame-blue-30 {
  background: linear-gradient(#086BAC,#053B5E) !important;
  font-family:'Poppins',sans-serif;
  height: 30%;
}

.frame-white-100 {
  background: #fbfcff !important;
  font-family:'Poppins',sans-serif;
  height: 100%;
}

.frame-white {
  background: #fbfcff !important;
  font-family:'Poppins',sans-serif;
}

.frame-site-footer {
  font-family:'Poppins', sans-serif !important;
  background: #053B5E !important;
}

.frame-site-footer-loggedin {
  font-family:'Poppins', sans-serif !important;
  background: #086bac !important;
}

.bgc-053B5E {
  background-color: #053B5E !important;
}

.nav-link-font {
  font-size: 0.9rem !important;
  font-weight: 500 !important;
  font-family:'Poppins', sans-serif !important;
}

.s-title-FBFCFF {
  font-family:'Poppins', sans-serif !important;
  color: #fbfcff !important;
}

.s-title-6F706F {
  font-family:'Poppins', sans-serif !important;
  color: #6F706F !important;
}

.s-title-053B5E {
  font-family:'Poppins', sans-serif !important;
  color: #053B5E !important;
}

.text-spotlight {
  color: #26C485 !important;
}

.text-danger {
  color: #F25F5C !important;
}

.s-title-bold {
  font-weight: bold !important;
}

.s-title-500 {
  font-weight: 500 !important;
}

.s-title-3rem {
  font-size: 3rem !important;
}

.s-title-2rem {
  font-size: 2rem !important;
}

.s-title-1p75rem {
  font-size: 1.75rem !important;
}

.s-title-1p5rem {
  font-size: 1.5rem !important;
}

.s-title-1p25rem {
  font-size: 1.25rem !important;
}

.s-title-1rem {
  font-size: 1rem !important;
}

.s-title-0p85rem {
  font-size: 0.85rem !important;
}

.s-title-0p7rem {
  font-size: 0.7rem !important;
}

.s-title-0p6rem {
  font-size: 0.6rem !important;
}

.s-title-0p5rem {
  font-size: 0.5rem !important;
}

.btn-site-secondary {
  color: #053B5E !important;
  background-color: #fbfcff !important;
  padding-top: 0.3rem !important;
  padding-bottom: 0.3rem !important;
  padding-left: 0 !important;
  padding-right: 3rem !important;
}

.btn:hover.btn-site-secondary {
  background: transparent !important;
  background-color: #fbfcff !important;
}

.a-site-secondary {
  color: #053B5E !important;
  font-size: 0.75rem !important;
}

.s-title-footer {
  font-family:'Poppins', sans-serif !important;
  color: #26C485 !important;
  font-weight: bold !important;
  text-align: left !important;
  font-size: 1rem !important;
}

.s-subtitle-footer {
  font-family:'Poppins', sans-serif !important;
  color: #fbfcff !important;
  font-weight: 500 !important;
  text-align: left !important;
  font-size: 0.65rem !important;
}

.title-footer {
  text-align: center !important;
}

#creditFooter.s-subtitle-footer {
  text-align: center !important;
}

.copy {
  cursor: copy !important;
}

.itemCopy {
  cursor: copy !important;
}


