.upload-success {
  background-color: #D7F4E8 !important;
  color: #50514F !important;
}

.upload-failed {
  background-color: #FCE1E1 !important;
  color: #50514F !important;
}

.upload-edited {
  background-color: #FFF5E0 !important;
  color: #50514F !important;
}